#   TRAFFIC SIMULATOR CONFIGURATION FILE
#   Author: David Hurta
#
#   Guide:
#       Specify the server as first
#       Do NOT use spaces when defying a device
#       To comment, use the hashtag at the start of the line
#
#       To specify the server: server:<server_address>
#
#       To specify the lifetime of the simulator in seconds: lifetime:<number_of_seconds>
#
#       To specify a device: <type>;<topic_name>;<interval>
#
#       To specify a camera: <type>;<topic_name>;<interval>;<directory_of_images>;<number_of_images>
#           -   The directory needs to contain JPG images
#           -   The formatting of the images name needs to follow a name convention
#           -   Name convention: <N>.jpg where N is the order of the photo starting from 0
#
#       <type>      = {thermometer, hygrometer, wattmeter, door_sensor, camera, relay, thermostat, valve}
#       <topic>     = string representing the name of the topic, the device is publishing to 
#       <interval>  = Positive number representing the interval of the device's publishing in seconds
#
#       <interval> used with the type door_sensor is representing MAXIMAL interval of the device's publishing
#
#
#       Example:
#           server:127.0.0.1:1883
#           lifetime:3600
#           thermometer;home/thermometer;5
#           hygrometer;home/greenhouse_hygrometer;10
#           wattmeter;home/bitcoin_mining;15
#           door_sensor;home/back_door;15
#           relay;home/main_lamp;10
#           thermostat;home/living_room;10
#           valve;home/fuel_valve;10
#           camera;home/camera;10;images_containing_text;4

server:localhost:1883

lifetime:3600

thermometer;home/thermometer;5

hygrometer;home/greenhouse_hygrometer;10

wattmeter;home/bitcoin_mining;15

door_sensor;home/back_door;15

relay;home/main_lamp;10

thermostat;home/living_room;10

valve;home/fuel_valve;10

camera;home/camera;10;images_containing_valid_images;4
